* {
    padding: 0;
    margin: 0;
}
li, ul, ol, dd, dl {
    list-style: none;
}
a {
    text-decoration: 0;
}
img {
    max-width: 100%;
    height: auto;
}

@media(min-width: 767px) {
    #wrap {
        width: 960px;
        margin: 0 auto;
    }

    .logo {
        background-image: url(images/bg.png);
        height: 280px;
    }
    .logo > h3 {
        padding: 20px;
        font-size: 30px;
        color: yellow;
    }
    .gnb {
        background-color: #c13333;
    }
    .gnb > ul > li {
        display: inline-block;
    }
    .gnb > ul > li > a {
        display: block;
        padding: 10px 20px;
        color: #fff;
    }
    #section {
        overflow: hidden;
    }
    #section > .left {
        float: left;
        width: 700px;
        padding: 20px;
    }
    #section > .right {
        float: right;
        width: 200px;
        padding: 10px;
        background-color: #e3e3e3;
        height: 500px;
    }
    #footer {
        background-color: #333333;
        text-align: center;
        color: white;
        padding: 10px 0;
    }
}

@media(max-width: 766px) {
    #wrap {
        width: 100%;
        margin: 0 auto;
    }
    .logo {
        background-image: url(images/bg.png);
        height: 150px;
    }
    .logo > h3 {
        padding: 20px;
        font-size: 30px;
        color: yellow;
    }
    .gnb {
        background-color: #c13333;
    }
    .gnb > ul > li {
        text-align: center;
        padding: 5px;
    }
    .gnb > ul > li:hover {
        background-color: #333333;
    }   
    .gnb > ul > li > a {
        color: #fff;
    }
    #section > .left {
        width: cover;
        padding: 20px;
    }
    #section > .right > img {
        padding: 0 20px;
        width: 100%;
        box-sizing: border-box;
    }
    #footer {
        background-color: #333333;
        text-align: center;
        color: white;
        padding: 10px 0;
    }

}